body {
  font-size: 1.5rem;
  min-height: 100vh;
  position: relative;
  max-width: 90%;
  margin: auto;
}

.mainContainer {
  padding-bottom: 2rem;
}

h2,
h3,
p {
  font-family: "Poppins", sans-serif;
}
h1,
h4 {
  font-family: "PT Serif";
}

a {
  text-decoration: none;
}